.hidden {
  display: none;
}

body {
  background-color: bisque;
}

.container {
  background-color: aliceblue;
  padding: 2em;
  margin-top: 3em;
}

form input {
  margin: 5px;
}

#st-add {
  width: 380px;
}

#email {
  width: 380px;
}

.btn {
  margin-bottom: 2em;
  display: block;
  margin: auto;
  margin-bottom: 2em;
}

#address-book {
  justify-content: center;
}

ul {
  cursor: pointer;
  color: blue;
  width: 50%;
  border: 1px solid black;
  padding: 10px;
  margin: 5px;
  
}

li {
  list-style-type: none;
  cursor: default;
  color: black;
}

.btn-close {
  float: right;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}